.square{
	width:400px;
	height:200px;
	background: #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	/*用margin调整div向上向左移动自身的一半距离*/
	/*margin-top:-100px;
	margin-left: -200px;*/
	/*或者用transform向左向上移动自身的一半*/
	transform:translate(-50%,-50%);
}
.quater-1{
	width:50px;
	height:50px;
	border-radius: 0 0 100% 0;
	background: #fc0;
	/*absolute使其想对最近的包含potison定位的父元素进行绝对定位*/
	/*使用absolute让四分之一圆相对于灰色方块定位*/
	position: absolute;
	top:0;
	left: 0;
}
.quater-2{
	width:50px;
	height: 50px;
	border-radius:100% 0 0 0;
	background: #fc0;
	/*使用absolute让四分之一圆相对于灰色方块定位*/
	position: absolute;
	right: 0;
	bottom: 0;
}